<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
</head>
<body>
    <div>
        <input type="text" placeholder="ws//ip:port" value="ws://localhost:8765">
        <button>connect</button>
    </div>
    <h3 id="123"></h3>
    <video id="video" autoplay></video>
    <canvas id="canvas"></canvas>
    <script>
        let stream;
        async function startCamera() {
            try {
                // 카메라 스트림 요청 (비디오만 사용)
                stream = await navigator.mediaDevices.getUserMedia({
                    video: true,
                    audio: false
                });

                // <video> 요소에 스트림 연결
                const videoElement = document.getElementById('video');
                videoElement.srcObject = stream;
            } catch (error) {
                console.error('카메라 접근 오류:', error);
            }
        }
        startCamera();
        const socket = new WebSocket('ws://172.30.5.97:8765');
        socket.addEventListener("open", () => {
            console.log("connected");
            socket.send("{\"command\":\"login\", \"password\":\"0000\"}");
        })
        socket.onmessage = (event) => {
            console.log("Message from server:", event.data);
            const jsonData = JSON.parse(event.data);
            if (jsonData.type === 'get_image'){
                const video = document.getElementById('video');
                const canvas = document.getElementById('canvas');
                const context = canvas.getContext('2d');
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                
                const imageData = canvas.toDataURL('image/png');
                console.log(imageData);
                document.getElementById("123").textContent = imageData;
                //socket.send("{\"type\":\"image\", \"data\":\""+imageData+"\"}")
            }
        };
        socket.onerror = (error) => {
            console.log("Error has occured:", error);
        };
        socket.onclose = () => {
            console.log("WebSocket is closed");
        };

        function sendCamera(){
            console.log("Send Camera Data");
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const context = canvas.getContext('2d');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            
            const imageData = canvas.toDataURL('image/png');
            console.log(imageData);
            // document.getElementById("123").textContent = imageData;
            socket.send("{\"command\":\"camera\", \"data\":\""+imageData+"\"}");
            setTimeout(function () {sendCamera()}, 1000/30);
        }

        setTimeout(function () {sendCamera()},10000);
    </script>
</body>
</html>