<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project ABB</title>
    <link rel="stylesheet" href="/file/css/main.css">
</head>
<body>
    <div class="title">
        <h1>Project ABB</h1>
        <h3>made by <a href="https://github.com/seon0313">seon0313</a></h3>
    </div>
    
    <button onclick="location.href='/cam'">
        <h3>Cam Mode</h3>
    </button>
    <button onclick="location.href='/control'"">
        <h3>Control Mode</h3>
    </button>
    <button onclick="location.href='/image'">
        <h3>Get Image Mode</h3>
    </button>
</body>
</html>